* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;
}

html, body {
    font-family: "Inter", sans-serif;
}

body #root > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 100vw;
    min-height: 100vh;
}
